/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@font-face {
	font-family: 'Computer Modern';
	src: url('/assets/fonts/cmunrm.eot');
	src: url('/assets/fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunrm.woff') format('woff'),
		 url('/assets/fonts/cmunrm.ttf') format('truetype'),
		 url('/assets/fonts/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern';
	src: url('/assets/fonts/cmunbx.eot');
	src: url('/assets/fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunbx.woff') format('woff'),
		 url('/assets/fonts/cmunbx.ttf') format('truetype'),
		 url('/assets/fonts/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern';
	src: url('/assets/fonts/cmunti.eot');
	src: url('/assets/fonts/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunti.woff') format('woff'),
		 url('/assets/fonts/cmunti.ttf') format('truetype'),
		 url('/assets/fonts/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern';
	src: url('/assets/fonts/cmunbi.eot');
	src: url('/assets/fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunbi.woff') format('woff'),
		 url('/assets/fonts/cmunbi.ttf') format('truetype'),
		 url('/assets/fonts/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/fonts/cmunss.eot');
	src: url('/assets/fonts/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunss.woff') format('woff'),
		 url('/assets/fonts/cmunss.ttf') format('truetype'),
		 url('/assets/fonts/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/fonts/cmunsx.eot');
	src: url('/assets/fonts/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunsx.woff') format('woff'),
		 url('/assets/fonts/cmunsx.ttf') format('truetype'),
		 url('/assets/fonts/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/fonts/cmunsi.eot');
	src: url('/assets/fonts/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunsi.woff') format('woff'),
		 url('/assets/fonts/cmunsi.ttf') format('truetype'),
		 url('/assets/fonts/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/fonts/cmunso.eot');
	src: url('/assets/fonts/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunso.woff') format('woff'),
		 url('/assets/fonts/cmunso.ttf') format('truetype'),
		 url('/assets/fonts/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* system typefaces */
$serif: 'Computer Modern', Georgia, Times, serif !default;
$sans-serif: 'Computer Modern Sans', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
	     "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;

// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";
